html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}


ol, ul, li {list-style:none}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}

table {border-collapse: collapse; border-spacing: 0;width:100%;}

img,fieldset{border:0;}
li img,dd img,dt img,label img{vertical-align:top;}
li{line-height:100%;list-style:none}
table{border-collapse:collapse;width:100%;}
input,select,textarea,button{font-family:'SFProDisplay-Regular', "Apple SD Gothic Neo" ,"nanum";font-size:12px;color:#333;}
img,input,select{vertical-align:middle;}
address,caption,em{font-weight:normal;font-style:normal;}
hr{display:none;}

/* base */
html{width:100%;overflow-y: scroll;}
body{width:100%;font-size:14px;color:#333;line-height:1.5; font-family: 'SFProDisplay-Regular', "Apple SD Gothic Neo", 'nanum', '나눔 고딕', '맑은 고딕', 'dotum';}
a{color:#333;text-decoration:none;text-decoration:none; font-family:'SFProDisplay-Regular', "Apple SD Gothic Neo" , "nanum"; font-size:14px; line-height:1.5; color:#333; width:100%; height:100%}
a:visited,a:hover,a:active,a:focus{colo r:#000;opa city: .8;}
caption,legend{width:0;height:0;font-size:0;text-indent:-9999px;overflow:hidden;}
button{cursor:pointer;}

#skipNav a{display:block;position:absolute;left:0;top:-10000px;text-align: center;width:100%;height:30px;z-index: 500;line-height:30px;font-weight:bold;font-size:14px;}
#skipNav a:hover,#skipNav a:focus,#skipNav a:active{background:#ccc;top:0}
h1,h2,h3,h4,h5,h6{font-family:'SFProDisplay-Regular',"nanum";font-size:12px;color:#333;}

.hide , .blind{width:0; height:0; margin:0; padding:0; position:absolute; left:0; top:0; font-size:0; text-indent:-9999px; overflow:hidden; visibility:hidden}
.cf:after {content:""; display:block; clear:both; visibility:hidden; width:0; height:0; font-size:0;}
.fl{float: left;}
/* font fix */
em.red{color:#ff0041 !important; font-family: 'SFProDisplay-bold';}
em.blue{color:#3d83b4 !important; font-family: 'SFProDisplay-bold';}
.blue{color:#3d83b4 !important;}
em.bold{font-family: 'SFProDisplay-bold' !important;}
/* /////////// font fix /////////// */
.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.ml40{margin-left: 40px;}
.ml50{margin-left: 50px;}

.pl10{padding-left: 10px;}
.pl20{padding-left: 20px !important;}
.pl30{padding-left: 30px !important;}
.pl40{padding-left: 40px;}
.pl50{padding-left: 50px !important;}

/* color */
.c-none{background: url(../images/icon/none_icon.png) no-repeat;background-size: 100%;}
.c-000000{background-color: #000;}
.c-ffffff{background-color: #fff;}
.c-f3f3f3{background-color: #f3f3f3;}
.c-ff9300{background-color: #ff9300;}
.c-0096ff{background-color: #0096ff;}
.c-4f8f00{background-color: #4f8f00;}
.c-7a81ff{background-color: #7a81ff;}
.c-ff8ad8{background-color: #ff8ad8;}
.c-ff7e79{background-color: #ff7e79;}
.c-f8e71c{background-color: #f8e71c;}

input[type = "file"]:hover{cursor: pointer;}
.loadBtn{display: none;font-size: 30px;}
button{-webkit-appearance:none;}
button:focus{outline: none;}
input{-webkit-appearance:none;}
input:focus{outline: none;}
textarea{-webkit-appearance:none;}
textarea:focus{outline: none;}











